body{
  
   
    background: linear-gradient(90deg, rgba(73, 49, 90, 0.872) 0%, rgb(192, 124, 30) 0%, rgb(172, 173, 183) 51%);
}
fieldset{
    width: 500px;
    
    border-radius: 20px;
    border: 5px solid rgb(68, 64, 64);
}
input{
    border-radius: 5px;
    background-color: rgb(228, 209, 209);

    position: relative;
}
input:required{
    border-color: chartreuse;
}
input::after{
    content:"" ;
    background-color: rgb(95, 184, 184);
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s
    ease-in-out;
   
}
input:hover::after
{
transform: scaleX(1);
}
input[read-only]
{
    background-color: rgb(189, 148, 148);
    color: black;
    font-weight: 700;
}
select{
    border-radius: 5px;
    background-color: rgb(199, 176, 176);
    cursor:grab;
}
button
{
   
        border-radius: 5px;
    
        background-color: rgb(199, 176, 176);
}
.card{
    display: flex;
    justify-content: center;
align-items: center;
}
img{
    width: 20%;
    height: 20%;
    border-radius: 30px;
    mix-blend-mode: color-burn;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.parant-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
textarea{
    background-color: beige;
    border-radius: 7px;
    border: 4px dotted cornflowerblue;
    
}
p{
    display: none;
}
input:hover + p {
    display: inline;
    color: #000;
    background-color: rgb(77, 214, 27);
}
input:focus{
    background-color: rgb(85, 82, 88);
    color: cadetblue;
}
select:hover + p {
    display: inline;
    color: #000;
    background-color: rgb(77, 214, 27);
}
select:focus{
    background-color: rgb(85, 82, 88);
    color: cadetblue;
}
.valid{
    display: none;
    height: 20px;
    width: 20px;
}
.nonvalid{
    display: none;
    height: 20px;
    width: 20px;
}
input[type="email"]:focus:valid~img.valid
{
    display: inline;
    height: 15px;
    width: 15px;
}
input[type="email"]:focus:invalid~img.nonvalid
{
    display: inline;
    height: 15px;
    width: 15px;
}